
  <div class="login">
    <h2 class="login-header">Inscription</h2>
    <form class="login-container">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" [(ngModel)]="user.username" name="username" id="username"
               placeholder="">
      </div>

      <div class="form-group">
        <label for="Adresse mail">Adresse Mail</label>
        <input type="text" class="form-control" [(ngModel)]="user.email" name="mail" id="Adresse mail"
               placeholder="">
      </div>

      <div class="form-group">
        <label for="Adresse mail">Password</label>
        <input type="password" class="form-control" [(ngModel)]="user.password" name="password" id="password"
               placeholder="">
      </div>
      <p>
        <input type="submit" (click)="register()" value="S'inscrire">
      </p>

    </form>
  </div>
