<h2>Liste de tout vos contact</h2>

<div *ngFor="let user of users" style="padding: 20px" class="card" style="width: 18rem;">
  <div class="card-body">
    <div class="row">
      <h3 class="card-title">
        <div>firstname : {{user.firstname}}</div>
      </h3>
      <h3 class="card-text">
        <div>lastname : {{user.lastname}}</div>
      </h3>
      <h6 class="card-text">
        <div>adresseMail : {{user.adresseMail}}</div>
      </h6>
      <h6 class="card-text">
        <div>phoneNumber :{{user.phoneNumber}}</div>
      </h6>
      <h6 class="card-text">
        <div>username :{{user.username}}</div>
      </h6>

      <button type="submit" (click)="suppUsers()" class="btn btn-danger">Delete</button>
      <!--      <button type="submit" (click)="suppUsers()" class="btn btn-info">Plus de detail</button>-->

    </div>
  </div>
</div>
<div class="container">
  <div class="list-group" *ngFor="let user of users">
    <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>

    <a href="#" class="list-group-item list-group-item-action list-group-item-primary">A simple primary list group
      item</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">A simple secondary list group
      item</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-success">A simple success list group
      item</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-danger">A simple danger list group
      item</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-warning">A simple warning list group
      item</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-info">A simple info list group item</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">A simple light list group item</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-dark">A simple dark list group item</a>
  </div>
</div>
