<div class="container text-center mt-5">
  <h1>Bienvenue sur votre agenda</h1>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mb-4">
        <div class="card-body">
          <img src="./assets/agenda.JPG" alt="agenda" height="100">
          <h2 class="card-title">Acceder à votre agenda</h2>
          <button class="btn btn-primary" routerLink="/schedule">Veuillez cliquer ici</button>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card mb-4">
        <div class="card-body">
          <img src="./assets/evenement%20coche.JPG" alt="evenement" height="100">
          <h2 class="card-title">Ajouter un evenement</h2>

          <button class="btn btn-primary" routerLink="/calendar">Veuillez cliquer ici</button>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card mb-4">
        <div class="card-body">
          <img src="./assets/profile.JPG" alt="profile" height="100">
          <h2 class="card-title">Acceder à votre profil</h2>

          <button class="btn btn-primary" routerLink="/myprofil">Veuillez cliquer ici</button>
        </div>
      </div>
    </div>
  </div>
</div>
