<router-outlet></router-outlet>
<h1 style="text-align:center">


</h1>
<div class="login">
  <h2 class="login-header">S'identifier</h2>
  <form [formGroup]="loginForm" class="login-container" (ngSubmit)="seConnecter()">
    <p [ngClass]="{ 'has-error': isSubmitted && formControls['username'].errors }">
      <input type="email" placeholder="Username" formControlName="email">
    </p>

    <div *ngIf="isSubmitted && formControls['email'].errors" class="help-block">
      <div *ngIf="formControls['email'].errors['required']"><font color="red">L'email est requis</font></div>
    </div>

    <p [ngClass]="{ 'has-error': isSubmitted && formControls['password'].errors }">
      <input type="password" placeholder="Password" formControlName="password">
    </p>

    <div *ngIf="isSubmitted && formControls['password'].errors" class="help-block">
      <div *ngIf="formControls['password'].errors['required']"><font color="red">Mot de passe requis</font></div>
    </div>

    <p>
      <input type="submit" (click)="LogIn(4000)" value="Log in">
    </p>
    <p>
      Pas encore de compte ?
      <button type="submit" (click)="showElement()">Sign in</button>
      <!--      <input  (click)="register()" value="Sign in">-->
    </p>
  </form>
</div>
<div *ngIf="show">
  <div class="login">
    <h2 class="login-header">Inscription</h2>
    <form class="login-container">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" [(ngModel)]="Users.username" name="username" id="username"
               placeholder="Username">
      </div>
      <div class="form-group">
        <label for="Adresse mail">Password</label>
        <input type="password" class="form-control" [(ngModel)]="Users.password" name="password" id="Adresse mail"
               placeholder="Password">
      </div>
      <p>
        <input type="submit" (click)="register()" value="Submit">
      </p>

    </form>



  </div>
</div>



